
#create-attr {
	flex-grow: 1;
	padding-top: 1rem
}
.cr-ch-row div {
	margin: 0;
	padding: 0;
	text-align: center
}
.cr-ch-btn-col {
	line-height: 1;
	color: #048;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000
}
.create-attr-wrap {
	padding: 0 .1rem;
	flex: 0
}
.create-attr-col {
	text-align: center;
	align-items: flex-start
}
#create-attr-remaining {
	justify-content: space-evenly;
	line-height: 1
}
#create-points-label {
	font: 1.3rem/1 Georgia, Quatro, Roboto Slab, serif;
	font-weight: 700;
	text-align: center;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
.create-attr-type {
	font-family: Georgia, Quatro, Roboto Slab, serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
#create-points-value {
	align-self: center
}
.create-attr-square {
	position: relative;
	width: 3rem;
	height: 3rem;
	border: .2rem groove #579
}
.create-attr-value {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: .1rem outset #eed;
}
.create-attr-value.active {
	color: #0f0
}
.create-attr-dynamic {
	background: #048
}
#create-points-remaining {
	background: #bba
}
.title-ch-create-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #013;
	margin: .2rem 0;
	border: .1rem ridge #444;
	height: 99%
}
#title-select-character {
	background: rgba(0, 0, 0, 0);
	box-shadow: .1rem 0 #00214d inset, -.1rem 0 #00214d inset
}
#ch-cr-detail-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.title-ch-well {
	display: flex;
	justify-content: center;
	background: #025
}
#title-well-top {
	flex: 0;
	box-shadow: 0 .1rem #103860;
	border-bottom: 1px solid #05b;
}
#title-well-bottom {
	flex: 0;
	box-shadow: 0 -.1rem #103860;
	border-top: 1px solid #05b;
}
#ch-card-base {
	padding: 0;
	margin: 0;
	flex: 1
}
.title-btn-margin {
	margin: .3rem .2rem
}
.ch-card {
	background: #27a;
	background: rgba(255, 255, 255, .3);
	border: .1rem outset #013;
	outline: 1px solid #048;
	font: 1.25rem Quatro, Roboto Slab, serif;
	padding: .2rem;
	margin: 6px auto;
	width: 90%;
	display: block;
	border-radius: 0;
	cursor: url('cursor/pointer.cur'), pointer
}
.ch-card:active {
	background: #26a;
	outline: 1px solid #05b
}
.ch-card-active {
	background: #159;
	color: #ff2 !important;
	text-shadow: 1px 1px #000,
	-1px 0 #000,
	1px 0 #000,
	-1px 1px #000,
	1px -1px #000,
	-1px -1px #000,
	0 0 2px #000, 0 0 4px #000, 0 0 8px #000, 0 0 12px #000
}
.select-create-wrap {
	border: .2rem groove #579
}
.select-class,
.select-race {
	font-family: Quatro, Roboto Slab, serif;
	background: #bba;
	border: .1rem outset #eed;
	padding-top: .2rem;
	line-height: 1.3;
	text-align: center;
	cursor: url('cursor/pointer.cur'), pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.select-class.active,
.select-race.active {
	background: #776;
	border: .1rem inset #776;
	box-shadow: 0 0 5px #000 inset
}
.select-class.disabled {
	cursor: default;
	pointer-events: none;
	background: #013;
	border: .1rem inset #013;
	box-shadow: 0 0 10px #579 inset;
	color: #048
}
#gender-wrap {
	margin-top: 1rem;
	font: 1.25rem Quatro, Roboto Slab;
	line-height: 1;
	text-transform: uppercase
}
.select-gender-col {
	align-self: center
}
.select-radial {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: #bba;
	box-shadow: 1px 1px #579 inset, -1px -1px #579 inset, 1px -1px 2px #000 inset, -3px 3px 6px 2px #fff inset;
	border: .1rem groove #579;
	cursor: url('cursor/pointer.cur'), pointer
}
.select-radial.active {
	background: #776;
	box-shadow: 1px 1px #000 inset, -1px -1px #000 inset, 0 0 5px #000 inset
}
.character-info-header {
	font: 1rem Quatro, Roboto Slab, serif;
	text-align: center;
	border: .1rem ridge #05b;
	background: #025;
	text-transform: uppercase
}
#create-info {
	font-size: .75rem;
	padding: 0 .1rem
}
#create-details {
	width: 100%
}
#create-character-name-wrap {
	border: 1px solid #579
}
#create-character-name {
	line-height: 1;
	border: .1rem inset #025;
	border-radius: 0;
	text-transform: capitalize
}
#create-character-name:focus {
	box-shadow: none
}
#create-attr-btn-wrap button {
	margin: .3rem .2rem 0
}