/* flex styles */
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	align-items: center;
}
.flex-50 { flex-basis: 50% }
.flex-33 { flex-basis: 33.33% }
.flex-25 { flex-basis: 25% }
.flex-16 { flex-basis: 16.666% }
.flex-8 { flex-basis: 8.333% }