/*
background: radial-gradient(
    circle farthest-corner at center center,
    white,
    #111
  ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

.mask {

  cursor: pointer;
  display: inline-block;
  overflow: hidden;

  background: url("https://bit.ly/ZxCkSc");
  background-position: 0 50%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;

  font-size: 150px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -10px;
  padding: 0 15px;

.three {
  color: transparent;
  text-shadow: 0 0 0px #ddd;
  text-stroke: 5px;
  transition: text-shadow 0.5s;
}
.three:hover {
  text-shadow: 0 0 5px rgba(255,255,255,0.0);
}
 */

/* login styles */
#loginWrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: auto;
	margin: 0 auto;
	font-size: .7rem;
	width: 280px;
	z-index: 98;
	color: #fff;
	text-align: center;
	top: 1.5rem;
	border: 2px ridge #337ab7;
	background: #0a0a1a;
	box-shadow: 0 0 20px #000, 0 0 40px #000, 0 0 60px #000;
	padding-bottom: 1rem;
}
#login-modal {
	visibility: hidden;
}
#login-form-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#login-modal, #login-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	z-index: 98;
}
#login-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 98;
}
#account {
	width: 10rem;
	border: 2px inset #05b;
	padding: .1rem .3rem;
}
#login-btn {
	margin: 1rem 0 .5rem;
}
/* main styles */
@font-face {
	font-family: Cinzel;
	src: url(../fonts/Cinzel-Regular.otf)
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf)
}
@font-face {
	font-family: Roboto Condensed;
	src: url(../fonts/RobotoCondensed-Regular.ttf)
}
@font-face {
	font-family: Roboto Slab;
	src: url(../fonts/RobotoSlab-Regular.ttf)
}
@font-face {
	font-family: Play;
	src: url(../fonts/Play.ttf)
}
@font-face {
	font-family: Imfell;
	src: url(../fonts/IM-Fell-English-SC.ttf)
}
@font-face {
	font-family: Quatro;
	src: url(../fonts/Quattrocento.ttf)
}
@font-face {
	font-family: Tinos;
	src: url(../fonts/tinos.ttf)
}
@font-face {
	font-family: VCR;
	src: url(../fonts/vcr.ttf)
}
@font-face {
	font-family: Impacted;
	src: url(../fonts/Impacted.ttf)
}
@font-face {
	font-family: Mason;
	src: url(../fonts/MasonSerif.ttf)
}

:focus {
	outline: 0
}

html {
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	height: 100%;
	background: #000;
}

@media only screen and (width: 1280px) and (height: 720px) { html { font-size: 14px }}
@media only screen and (width: 1366px) and (height: 768px) { html { font-size: 14px }}
@media only screen and (width: 1600px) and (height: 900px) { html { font-size: 17px }}
@media only screen and (width: 1440px) and (height: 900px) { html { font-size: 17px }}
@media only screen and (width: 1920px) and (height: 1080px) { html { font-size: 20px }}
@media only screen and (min-width: 1380px) { html { font-size: 20px }}
@media only screen and (min-width: 2000px) { html { font-size: 22px }}
@media only screen and (min-width: 2500px) { html { font-size: 24px }}
@media only screen and (min-width: 3000px) { html { font-size: 26px }}
@media only screen and (min-width: 3400px) { html { font-size: 28px }}
@media only screen and (min-width: 3800px) { html { font-size: 30px }}

#body {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: Play, Roboto, Arial, sans-serif;
	background: #000;
	color: #fff;
	min-width: 1280px;
	min-height: 720px;
	max-width: 3840px;
	max-height: 2160px;
	margin: 0;
	overflow: hidden;
	cursor: url('cursor/normal.cur'), auto;
}
label {
	font-weight: normal;
	display: block;
	margin: .1em 0
}
input { cursor: url('cursor/pointer.cur'), pointer; }
a {
	color: #aef;
	cursor: url('cursor/pointer.cur'), pointer
}
h1, h2 {
	color: #fff;
	margin: 0;
	padding: 0
}

h1 {
	font-family: Cinzel, Palatino Linotype, serif;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 12px
}

h1 div {
	font-size: 1rem
}

h1 div.small { font-size: .8rem }
audio { display: none }
tbody { border: 0 }

.ng-blue-input {
	background: #025;
	border: 1px solid #2e6da4;
	color: #fff !important
}
.overflow { overflow-y: auto }
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.text-shadow {
	text-shadow: 0 0 #000,
	1px 1px #000,
	1px 0 #000,
	0 1px #000!important;
}
/* shadow with blur */
.text-shadow2 {
	text-shadow: .6px .6px #000,
	-.4px .6px #000,
	-.4px 0 #000,
	.6px 0 #000,
	0 .6px #000,
	0 -.6px #000,
	0 0 5px #000,
	0 0 2px #000!important;
}
.text-shadow-thicc3 {
	text-shadow: 1px 1px #000, -1px 0 #000, 1px 0 #000, -1px 1px #000, 1px -1px #000, -1px -1px #000
}
/*.text-shadow3 {
	-webkit-text-stroke: 1px #000;
}*/
.no-select { user-select: none; }
.no-pointer { pointer-events: none; }
.none { display: none }
.block { display: block }
.center {
	position: relative;
	display: block;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.text-center { text-align: center; }
.snug {
	padding: 0 !important;
	margin: 0 !important
}
.pointer { cursor: url('cursor/pointer.cur'), pointer }
.pointer:active { cursor: url('cursor/pointer.cur'), pointer }
.text { cursor: text !important }
.img-bg {
	width: 100%;
	height: 100%;
}
#ng2-logo-wrap {
	background: #000;
	overflow: hidden
}
#battle-sky {
	position: absolute;
	width: 100%;
	height: 13.5rem;
	top: 0;
}
#battle-clouds {
	position: absolute;
	width: 100%;
	height: 13.5rem;
	top: 0;
}
#battle-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#battle-fg {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	z-index: 2;
}
#ng2-logo {
	position: relative;
	width: 90%;
	display: block;
	margin: 4px auto
}
.title-bg-color {
	background: #00214d;
	padding: .1rem .3rem;
}
.title-bg-trans {
	margin: 0;
	padding: 0;
	box-shadow: 0 1rem #00214d inset, -.2rem 0 #00214d inset, .2rem 0 #00214d inset, 0 -1rem #00214d inset
}
#neverworks-logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 140px
}
.neverworks-logo-text {
	background: #0a0a0a;
	padding: 0;
	line-height: 1;
	font-family: Impacted;
	font-size: 3rem;
}
#version {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 .4rem;
}
.title-menu-row {
	color: #fff;
	border-radius: 5px;
	justify-content: start;
	border-top: none
}
#scene-title {
	display: none;
	opacity: 0;
	justify-content: flex-end;
	align-items: flex-start;
}
#scene-title-select-character {
	display: flex;
	flex-direction: column;
	min-height: 12rem;
	width: 28rem;
	margin: 1rem 1rem 0 0;
}
#scene-title-create-character {
	display: none;
	width: 56rem;
	align-self: center;
}
.title-cc-wrap {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	min-width: 360px;
}
#title-header {
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	padding: .2rem .4rem;
	border-bottom: .1rem ridge #000;
	background: rgba(0, 0, 0, .8)
}
.title-column {
	display: flex;
	flex: 1;
	align-self: center
}
#title-options {
	justify-content: left
}
#title-header a:hover {
	text-decoration: none
}
#title-header .fa {
	margin: 0 .3rem;
	align-self: center
}
#logout {
	color: #fff
}
.ng-btn {
	color: #fff;
	padding: .2rem 1rem;
	font: 1.1rem/1 Play, Cinzel;
	font-weight: 700;
	border: .1rem outset #cb8;
	text-align: center;
	border-radius: 0;
	cursor: url('cursor/pointer.cur'), pointer;
	letter-spacing: .1rem;
	background: #997;
	text-shadow: 1px 1px #000,
	-1px 0 #000,
	1px 0 #000,
	-1px 1px #000,
	1px -1px #000,
	-1px -1px #000;
	transition: background .2s ease-out, transform .1s ease-out;
}
.ng-btn:hover {
	background: #bb9;
}
.ng-btn:active {
	outline: 1px solid #579 !important;
	border: .1rem inset #eed;
	background: #dd9;
	transform: scale(.98);
}
.ng-btn-alert {
	outline: 1px solid #511;
	border: .1rem outset #711;
	background: #911;
}
.ng-btn-alert:hover {
	background: #b11;
}
.ng-btn-alert:active {
	outline: 1px solid #711 !important;
	border: .1rem inset #b22;
	background: #811
}
.ng-green {
	background: rgba(11, 76, 11, 1);
	border: 1px solid #3a3;
	border-radius: 4px
}

.ng-text {
	color: #aef;
	text-shadow: .5px .5px #357, 1px 1px #357
}

#scene-town { opacity: 1; }

.unlock-game {
	color: #aef !important;
	text-decoration: underline !important
}

#unlock-game-perks {
	margin-bottom: 1rem;
	color: #ff0
}

#unlock-game-card {
	text-align: left
}

#modal-overlay {
	visibility: hidden;
	background: radial-gradient(farthest-corner at 50% 50%, rgba(0, 0, 0, 1), rgba(0, 0, 0, .7));
	z-index: 100;
}

#modal-wrap {
	position: absolute;
	visibility: hidden;
	top: 50px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	max-width: 480px;
	border: .1rem ridge #048;
	background: #013;
	z-index: 100;
}

#modal-header {
	text-align: center;
	border: 2px outset #2e6da4;
	background: #048
}

#modal-body {
	text-align: center;
	padding: .5rem 2rem;
	min-height: 3rem;
}

#modal-footer {
	padding-bottom: .2rem
}

#modal-error {
	color: #f22
}

.modal-buttons {
	font-size: .9rem;
	margin: .5rem;
	display: inline-block;
}

#flash-overlay {
	opacity: 0;
	pointer-events: none;
	background: #fff;
	z-index: 100;
}

#lock-overlay {
	display: none;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
}
#ng2-logo-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.overlay,
.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

#msg {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	top: 4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
	padding: 0 8%;
	font-size: 1rem;
	line-height: 1.3;
	color: #fff;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, rgba(0, 0, 0, 0) 100%);
	border-width: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, rgba(4, 67, 136, 0) 0, rgba(4, 67, 136, .9) 20%, rgba(4, 67, 136, .9) 80%, rgba(4, 67, 136, 0) 100%);
	z-index: 100;
}

.fancy-hr {
	border: 0;
	height: 1px;
	margin: .6rem 0;
	background-image: linear-gradient(to left, rgba(16, 64, 176, .4), rgba(32, 128, 232, 1), rgba(16, 64, 176, .4))
}

.fancy-hr-dark {
	border: 0;
	height: 1px;
	margin: .6rem 0;
	background-image: linear-gradient(to left, rgba(32, 32, 32, .4), rgba(128, 128, 128, 1), rgba(32, 32, 32, .4))
}

.stag-blue {
	background: linear-gradient(to top,
		rgba(0, 24, 60, .8) 0,
		rgba(0, 24, 60, .8) 10%,
		rgba(0, 22, 54, .8) 10%,
		rgba(0, 22, 54, .8) 20%,
		rgba(0, 20, 48, .8) 20%,
		rgba(0, 20, 48, .8) 30%,
		rgba(0, 18, 42, .8) 30%,
		rgba(0, 18, 42, .8) 40%,
		rgba(0, 16, 36, .8) 40%,
		rgba(0, 16, 36, .8) 50%,
		rgba(0, 14, 30, .8) 50%,
		rgba(0, 14, 30, .8) 60%,
		rgba(0, 12, 24, .8) 60%,
		rgba(0, 12, 24, .8) 70%,
		rgba(0, 9, 18, .8) 70%,
		rgba(0, 9, 18, .8) 80%,
		rgba(0, 6, 12, .8) 80%,
		rgba(0, 6, 12, .8) 90%,
		rgba(0, 3, 8, .8) 90%,
		rgba(0, 3, 8, .8) 100%);
}
.stag-blue-top {
	background: linear-gradient(to bottom,
		rgba(0, 24, 60, .8) 0,
		rgba(0, 24, 60, .8) 10%,
		rgba(0, 22, 54, .8) 10%,
		rgba(0, 22, 54, .8) 20%,
		rgba(0, 20, 48, .8) 20%,
		rgba(0, 20, 48, .8) 30%,
		rgba(0, 18, 42, .8) 30%,
		rgba(0, 18, 42, .8) 40%,
		rgba(0, 16, 36, .8) 40%,
		rgba(0, 16, 36, .8) 50%,
		rgba(0, 14, 30, .8) 50%,
		rgba(0, 14, 30, .8) 60%,
		rgba(0, 12, 24, .8) 60%,
		rgba(0, 12, 24, .8) 70%,
		rgba(0, 9, 18, .8) 70%,
		rgba(0, 9, 18, .8) 80%,
		rgba(0, 6, 12, .8) 80%,
		rgba(0, 6, 12, .8) 90%,
		rgba(0, 3, 8, .8) 90%,
		rgba(0, 3, 8, .8) 100%);
}

/* battle styles */
.mob-wrap {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	overflow: visible;
}

#mob-wrap-0 { left: 10%; z-index: 1 }
#mob-wrap-1 { left: 30%; z-index: 1 }
#mob-wrap-2 { left: 50%; z-index: 1 }
#mob-wrap-3 { left: 70%; z-index: 1 }
#mob-wrap-4 { left: 90%; z-index: 1 }
#mob-wrap-5 { left: 20% }
#mob-wrap-6 { left: 40%; }
#mob-wrap-7 { left: 60%; }
#mob-wrap-8 { left: 80%; }
.mob-front-row { bottom: 11rem; }
.mob-back-row { bottom: 16.5rem; }
.mob-details {
	position: absolute;
	display: none;
	left: -5rem;
	width: 10rem;
	cursor: url('cursor/pointer.cur'), pointer;
}
.mob-name {
	font: 1.4rem Roboto Condensed;
	text-align: center;
}
.mob-bar {
	position: relative;
	width: 10rem;
	height: 1rem;
	border: 2px ridge #aaa;
	box-shadow: 0 0 0 1px #111;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.mob-health {
	position: relative;
	height: 100%;
	width: 100%;
	background: #b11;
}
.mob-shadow {
	position: absolute;
	display: none;
	transform: translate(-50%);
	bottom: 1.5rem;
	border-radius: 50%;
	background: radial-gradient(farthest-side at 50% 50%, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .8) 30%, rgba(0, 0, 0, 0) 100%);
	height: 2rem;
	width: 20rem;
	z-index: 0;
	/*outline: 2px dotted #aaa;*/
}
.mob-img {
	position: absolute;
	left: -50%;
	bottom: 0;
	pointer-events: none;
}
.mob-center {
	display: none;
	position: absolute;
	border-radius: 50%;
	border: .2rem solid #000;
	background: #f00;
	left: -.55rem;
	width: 1.1rem;
	height: 1.1rem;
	z-index: 5;
}
.mob-alive {
	position: absolute;
	/*outline: 2px dotted #0f0;*/
	bottom: 0;
	width: 1px;
	height: 1px;
	z-index: 5;
	cursor: url('cursor/pointer.cur'), pointer;
}
.mob-dead {
	position: absolute;
	/*outline: 2px dotted #f00;*/
	bottom: 0;
	width: 1px;
	height: 1px;
	z-index: 5;
	cursor: url('cursor/pointer.cur'), pointer;
	display: none;
}
/* town stuff */
#town-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
#town-merged {
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
#town-academy {
	bottom: 38.88vh;
	left: 11.66vw;
	height: 55.74vh;
	width: 26.98vw;
}
#town-apothecary {
	bottom: 31.3vh;
	left: 54.38vw;
	width: 14.11vw;
	height: 28.15vh;
}
#town-bank {
	bottom: 30.37vh;
	left: 42.71vw;
	width: 13.49vw;
	height: 43.06vh;
}
#town-tavern {
	bottom: 0;
	left: 0;
	width: 20.42vw;
	height: 70.93vh;
}
#town-merchant {
	bottom: 30.37vh;
	left: 29.16vw;
	width: 16.83vw;
	height: 35vh;
}
#town-guild {
	bottom: 29.63vh;
	right: 0;
	width: 30.49vw;
	height: 64.81vh;
}
#town-blacksmith {
	bottom: 0;
	right: 0;
	width: 33.8vw;
	height: 55.55vh;
}
#town-background {
	bottom: 0;
	width: 100vw;
	height: 46.4rem;
	height: 85.93vh;
}
.town-bg {
	position: absolute;
	bottom: 0;
	pointer-events: none;
}
#town-sky {
	top: 0%;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(farthest-corner at 50% 50%, #5bf, #05b)
}
.town-building {
	position: absolute;
	bottom: 0;
	cursor: url('cursor/pointer.cur'), pointer;
	transition: filter .2s ease-out;
}
.town-building:hover {
	filter: brightness(125%) saturate(120%) drop-shadow(0 0 2px #ffa) drop-shadow(0 0 4px #ffa);
}
.town-building:active {
	filter: brightness(200%) saturate(140%) drop-shadow(0 0 2px #ffd) drop-shadow(0 0 4px #ffd) drop-shadow(0 0 6px #ffd);
}
/*background: repeating-linear-gradient(90deg, #013 0%, #025 2%, #013 4%);
background-size: 50% 100%;
animation: town-repeat-bg 90s linear infinite;*/
/*@keyframes town-repeat-bg {
	from { background-position: 0%; }
	to { background-position: 200%; }
}*/
#town-mission-wrap {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: .2rem;
	left: 0;
	right: 0;
	margin: auto;
}
.mission-icon {
	color: gold;
	margin-right: .4rem;
	font-size: 1rem;
}
#town-footer-gold-wrap {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	bottom: .2rem;
	left: .5rem;
	font-size: 1.5rem;
	border: .1rem groove #aa8;
	background: #0a0a0a;
	border-radius: 8px;
	padding: 0 .2rem 0 1rem;
	min-width: 8rem;
}
#town-mission {
	font-size: 1.25rem;
	cursor: url('cursor/pointer.cur'), pointer;
	bottom: 0;
}
#town-mission:hover {
	filter: none;
}
#town-mission:active {
	filter: none;
}
#town-building-label-wrap {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	line-height: 1;
	background: linear-gradient(45deg, #000c 25%, #0000);
	border-left: .2rem ridge #000;
	padding: .2rem;
	max-width: 13rem;
	pointer-events: none;
	/*backdrop-filter: grayscale(1) saturate(2) brightness(.5);*/
}
#town-building-label-header {
	color: gold;
	font-size: 2rem;
}

/* chat styles */
#chat-wrap {
	display: none;
	flex-direction: row;
	font-family: Play, Roboto Condensed, Roboto, sans-serif;
	position: fixed;
	font-size: .8rem;
	color: #fff;
	border: 1px solid #013;
	bottom: 2.5rem;
	height: 13rem;
	z-index: 2;
}

#chat-present-wrap {
	display: flex;
	flex-direction: column;
	width: 9rem;
}

#chat-log-wrap {
	display: flex;
	flex-direction: column;
	width: 21rem;
	transition: background .2s linear;
	background: rgba(0,0,0,.2);
}
#chat-log-wrap:hover {
	background: rgba(0, 0, 0, .5);
}

#chat-header {
	display: flex;
	justify-content: center;
	color: gold;
	border: .1rem groove #048;
	margin: 1px;
	white-space: nowrap;
	padding: 0 .3rem;
	background: radial-gradient(farthest-side at 50% 0%, rgba(0, 48, 96, 1), rgba(0, 0, 0, 1));
}

#chat-room {
	flex: 1;
	line-height: 1.2;
	overflow: auto;
	overflow-x: hidden;
	border: .1rem groove #025;
	margin: 1px;
	background: rgba(0, 32, 64, .3);
}

#chat-log {
	flex: 1;
	overflow: auto;
	overflow-x: hidden;
	line-height: 1.25;
	word-wrap: break-word;
	word-break: break-word;
	padding: .1rem .2rem 0 .2rem;
	margin: .1rem;
	border: .1rem groove #025;
}
.chat-player {
	cursor: url('cursor/pointer.cur'), pointer;
	transition: background .2s linear;
}

.chat-player:hover {
	background: rgba(0, 64, 128, .5);
}

#chat-input-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 1rem;
	background: transparent;
	margin: .1rem;
	border: .1rem groove #025;
}

#chat-input-mode {
	display: flex;
	flex: 0;
	background: #025;
	padding: 0 .4rem;
	max-width: 8rem;
	border: .1rem groove #025;
}

#chat-mode-msg {
	align-self: center;
}

#chat-input {
	background: transparent;
	flex: 1;
	color: #fdd;
	width: 100%;
	cursor: url('cursor/pointer.cur'), pointer;
	padding: .2rem .4rem;
	border: 1px solid #013;
	transition: border, background .2s linear;
}

#chat-input:focus {
	border: 1px groove #048;
	background: rgba(0,0,0,.5);
}

.chat-pink {
	color: #fdd;
}

.chat-emote {
	color: #ccc;
}

.chat-whisper {
	color: #c8f;
}

.chat-party {
	color: #8ef;
}

.chat-ooc {
	color: #090;
}

.chat-guild {
	color: #0f0;
}

.chat-warning {
	color: #ffff1a;
}

.chat-quest {
	color: gold;
}

.chat-help-header {
	color: #ffff1a;
	background: rgba(255, 255, 32, .2);
}

.chat-alert,
.chat-danger {
	color: #f22;
}

.chat-broadcast {
	color: #f80;
}

.chat-exp {
	color: gold;
}

.chat-join {
	cursor: url('cursor/pointer.cur'), pointer;
}

.chat-hidden {
	color: #000;
	background: #000;
	pointer-events: auto
}

.chat-hidden:hover {
	color: #fff;
	pointer-events: auto
}

/* chat class colors */

.chat-WAR { color: #a73; }
.chat-ROG { color: #888; }
.chat-MNK { color: #f85; }
.chat-PLD { color: #c5e; }
.chat-SHD { color: #f0f; }
.chat-RNG { color: #090; }
.chat-BRD { color: #7ff; }
.chat-DRU { color: #8f0; }
.chat-CLR { color: #ff5; }
.chat-SHM { color: #08f; }
.chat-NEC { color: #84f; }
.chat-ENC { color: #0df; }
.chat-SUM { color: #f90; }
.chat-WIZ { color: #f22; }

.bg-WAR { background: #a736; }
.bg-ROG { background: #8886; }
.bg-MNK { background: #f856; }
.bg-PLD { background: #c5e6; }
.bg-SHD { background: #f0f6; }
.bg-RNG { background: #0906; }
.bg-BRD { background: #7ff6; }
.bg-DRU { background: #8f06; }
.bg-CLR { background: #ff56; }
.bg-SHM { background: #08f6; }
.bg-NEC { background: #84f6; }
.bg-ENC { background: #0df6; }
.bg-SUM { background: #f906; }
.bg-WIZ { background: #f226; }


.bg-dark-WAR { background: #a733; }
.bg-dark-ROG { background: #8883; }
.bg-dark-MNK { background: #f853; }
.bg-dark-PLD { background: #c5e3; }
.bg-dark-SHD { background: #f0f3; }
.bg-dark-RNG { background: #0903; }
.bg-dark-BRD { background: #7ff3; }
.bg-dark-DRU { background: #8f03; }
.bg-dark-CLR { background: #ff53; }
.bg-dark-SHM { background: #08f3; }
.bg-dark-NEC { background: #84f3; }
.bg-dark-ENC { background: #0df3; }
.bg-dark-SUM { background: #f903; }
.bg-dark-WIZ { background: #f223; }


/* webkit scrollbar */
/*
track & thumb:
border-left: 6px solid transparent;
background-clip: content-box;
 */
::-webkit-scrollbar {
	/* addresses the background of the bar itself. It is usually covered by the other elements */
	width: .5rem;
}

/*
::-webkit-scrollbar-button {
	 addresses the directional buttons on the scrollbar
}
*/

::-webkit-scrollbar-track {
	/* background */
	background-image: linear-gradient(to left, #013 0%, #103860 100%);
	box-shadow: inset 0 0 0 1px #444;
}

/*
::-webkit-scrollbar-track-piece {
	is the top-most layer of the the progress bar not covered
	by the draggable scrolling element (thumb)
}
*/

/* draggable thing */
::-webkit-scrollbar-thumb {
	background-color: #58a;
	/*background-image: linear-gradient(to top, #579 0%, #bdf 50%, #579 100%);*/
}

::selection {
	background: #999;
}

#scene-error {
	padding-top: 30vh;
	color: gold;
	text-align: center;
	font: 3rem Cinzel;
	text-shadow: .6px .6px #000,
	-.4px .6px #000,
	-.4px 0 #000,
	.6px 0 #000,
	0 .6px #000,
	0 -.6px #000,
	0 0 5px #000,
	0 0 2px #000,
	1px 1px 2px #fff,
	0 0 2px #fd0,
	0 0 5px #fd0;
	background: radial-gradient(farthest-corner at 50% 30%, rgba(20, 16, 12, 1), rgba(0, 0, 0, 1));
	z-index: 2;
}

/* bar wrap */
#bar-wrap {
	display: none;
	font-family: Play, Quatro, Roboto Condensed, Roboto, sans-serif;
	position: fixed;
	top: .2rem;
	left: .2rem;
	z-index: 2;
	padding: 0 .3rem;
}

#bar-lag {
	display: flex;
	justify-content: space-between;
	font-size: .675rem;
	color: #0a0;
	line-height: 1.2;
}

#bar-main-menu {
	display: flex;
	justify-content: space-around;
	padding: .2rem 0;
	margin-bottom: .3rem;
	border: .1rem outset #048;
	outline: 1px solid #579;
	background: radial-gradient(farthest-side at 0% 100%, rgba(0, 48, 96, 1), rgba(0, 0, 0, 1));
}

#bar-all-player-wrap {
	padding: .2rem;
}

.bar-icons {
	color: gold;
	cursor: url('cursor/pointer.cur'), pointer;
	padding: .2rem;
	background: #103860;
	border: 2px groove #579;
	transition: background .3s ease;
}

.bar-icons:hover {
	background: #05b;
}

.bar-player-wrap {
	display: flex;
	margin-bottom: .2rem;
	transform: scale(.875);
}

.bar-player-wrap:first-of-type {
	transform: scale(1);
	background: rgba(0,0,0,.7)
}

.bar-avatar {
	width: 4rem;
	height: 4rem;
	transition: filter .2s ease-out, transform .1s ease-out;
}
.bar-avatar:hover {
	filter: drop-shadow(0 0 2px #ffd700);
}
.bar-avatar:active {
	transition: none;
	filter: drop-shadow(0 0 3px #ffffdd);
}

.bar-level {
	font-size: .9rem;
	line-height: .8;
	color: gold;
}

.bar-is-leader {
	position: absolute;
	top: -.1rem;
	left: -.75rem;
	color: #ffa;
	font-size: .8rem;
}

.bar-col-data {
	flex: none;
	width: 8rem;
}

.bar-col-data-sm {
	position: relative;
	flex: none;
	width: 7rem;
}

.bar-hp-name {
	text-transform: capitalize;
	text-indent: .2rem;
	color: #fff;
	font-size: .9rem;
	line-height: 1.2;
}

.bar-any-wrap {
	position: relative;
	border: 1px solid #000;
	background: #444;
	margin: 0 .1rem;
	height: .7rem;
	border-radius: 4px;
	overflow: hidden;
}
.bar-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: .7rem;
	z-index: 1;
}
.bar-any-bg {
	position: absolute;
	background: #ff0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.bar-hp-fg {
	background: #f22;
	background: linear-gradient(to bottom, #f77 1px, #f22 10%, #f44 50%, #f22 99%, #000 100%);
	height: 100%;
	width: 100%;
}
.bar-mp-fg {
	background: linear-gradient(to bottom, #0ad 1px, #05b 10%, #07d 50%, #05b 99%, #000 100%);
	height: 100%;
	width: 100%;
}
.bar-sp-fg {
	background: linear-gradient(to bottom, #fff 1px, #ee0 10%, #ff6 50%, #ee0 99%, #000 100%);
	height: 100%;
	width: 100%;
}

/* tooltip social wrap */
#context-wrap {
	position: fixed;
	visibility: hidden;
	width: 8rem;
	font: .9rem/1.5 Play, Cinzel, Palatino Linotype, serif;
	border: 2px ridge gold;
	z-index: 2;
	transform: translate(-50%, 0%);
	background: radial-gradient(farthest-corner at 0% 0%, rgba(16, 32, 80, 1), rgba(0, 0, 0, 1));
}
.context-items {
	cursor: url('cursor/pointer.cur'), pointer;
	white-space: nowrap;
	padding: .1rem .5rem;
	border-bottom: 1px solid #048;
	transition: background .1s ease-out;
}
.context-items:last-child {
	border-bottom: 0;
}
.context-items:hover {
	background: #05b;
}
.context-items:active {
	background: #994;
}
/* context */
#popover-wrap {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	width: auto;
	font: .9rem/1.5 Play, Cinzel, Palatino Linotype, serif;
	border: 2px ridge gold;
	z-index: 2;
	padding: .25rem .5rem;
	border-radius: 4px;
	transform: translate(-50%, 0%);
	background: radial-gradient(farthest-corner at 0% 0%, rgba(16, 32, 80, 1), rgba(0, 0, 0, 1));
}

.capitalize { text-transform: capitalize }
.item-normal { color: #fff; }
.item-magic { color: #2a9aff; }
.item-magic-alt { color: #487af8 }
.item-rare { color: #ff0; }
.item-set { color: #00c400; }
.item-unique { color: #908858; /*b5a170*/}
.item-runic { color: #ad68f8; }
.item-legendary { color: #ffa500; }
.item-restricted { color: #f21; }

.item-use { color: #2f2;}

.town-aside {
	position: fixed;
	display: none;
	top: 5%;
	right: 2rem;
	height: 65%;
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	width: 50%;
	border: 4px groove #103860;
	overflow: hidden;
	z-index: 1;
}

.aside-bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.aside-text {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1;
	height: 100%;
}

.aside-title-wrap {
	display: flex;
	position: relative;
	font: 1.5rem/2 Cinzel, Palatino Linotype, serif;
	padding: 0 .5rem;
	border: 4px groove #a96;
	flex: 0;
}

.aside-title {
	flex: 1;
}

.close-aside {
	flex: 0;
	align-self: center;
	transition: color .3s ease;
	color: #a22;
}

.close-aside:hover {
	cursor: url('cursor/pointer.cur'), pointer;
	color: #f00 !important;
}

/* guild aside */
#guild-member-wrap {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 1;
}
.guild-member-row {
	line-height: 1.5;
	vertical-align: middle;
}


#guild-member-flex {
	display: flex;
	align-content: center;
}

#guild-member-label {
	flex: 1;
}

#guild-member-refresh-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 .5rem;
	outline: none;
	font-size: .9rem;
	border: 1px solid #05b;
	color: #fff;
	outline-offset: 0;
	cursor: url('cursor/pointer.cur'), pointer;
	transition: background .2s ease-out;
}
#guild-member-refresh-btn:active {
	outline: none;
	border: 1px solid #aef;
}

.refresh {
	color: #05b;
	transition: color .3s ease-out;
}

.refresh:hover {
	color: #27d;
}

.load-cog {
	color: #b21212;
}

/* missions */
#mission-counter {
	word-break: break-all;
	overflow-y: auto;
	line-height: 1.4;
	background: conic-gradient(
			#0016 .25turn,
			#025a .25turn .5turn,
			#0016 0.5turn .75turn,
			#025a .75turn
	) top left / 3px 3px repeat;
	flex: 1;
}

.mission-zone-headers {
	display: flex;
	align-content: center;
	color: #aaa;
	line-height: 1.5rem;
	cursor: url('cursor/pointer.cur'), pointer;
}

.mission-zone-headers:hover {
	background: #048;
}

.con-grey {
	color: #999;
}

.con-green {
	color: #191;
}

.con-low-blue {
	color: #1cc;
}

.con-high-blue {
	color: #15f;
}

.con-white {
	color: #fff;
}

.con-yellow {
	color: #ff1;
}

.con-red {
	color: #f11;
}

.mission-tree-btn {
	font-size: 1rem;
	color: #fdd700;
	background: #611;
	text-shadow: 1px 1px #777, -1px -1px #777, -1px 1px #777, 1px -1px #777, 2px 2px #000, -2px -2px #000, -2px 2px #000, 2px -2px #000;
	align-self: center;
	margin: 0 .5rem;
}

.mission-quest-list {
	display: none;
}

.mission-quest-item {
	text-indent: 2.5rem;
	cursor: url('cursor/pointer.cur'), pointer;
}

.mission-quest-item:hover {
	background: #048;
}

.mission-quest-item:active {
	background: #05b;
}

#mission-wrap {
	letter-spacing: .05rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#mission-title {
	font-family: Cinzel, Palatino Linotype, serif;
	color: gold;
	font-size: 1.25rem;
}

#mission-embark {
	margin-top: .5rem;
	font-size: 1.75rem;
}
.disabled {
	cursor: default;
	pointer-events: none;
	filter: brightness(20%);
}

#mission-abandon {
	box-shadow: 0 500px 0 rgba(255, 0, 0, .4) inset;
}

/* dungeon */
#scene-dungeon { opacity: 0; }

#button-wrap {
	display: none;
	position: fixed;
	justify-content: flex-start;
	align-items: stretch;
	bottom: -5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 3.6rem;
	width: 33rem;
	z-index: 2;
}

.class-btn {
	position: relative;
	border: .1rem outset #013;
	background-size: 61.2rem 13.6rem; /* convert via 3.4 * number of buttons?? */
	flex: 1;
	cursor: url('cursor/pointer.cur'), pointer;
}
.class-btn-timer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
background: conic-gradient(#0000 .25turn, #000c .25turn);
background: conic-gradient(#0000 .25turn, #000f .25turn .5turn, #0000 0.5turn .75turn, #000f .75turn) top left / 20% 20% repeat;
background: repeating-linear-gradient(135deg, #0006 10%, #0000 30%, #0006 40%);

// beveled corners
background:
		linear-gradient(135deg, transparent 10px, rgba(255, 255, 255, .3) 0) top left,
		linear-gradient(225deg, transparent 10px, rgba(255, 255, 255, .3) 0) top right,
		linear-gradient(315deg, transparent 10px, rgba(255, 255, 255, .3) 0) bottom right,
		linear-gradient(45deg,  transparent 10px, rgba(255, 255, 255, .3) 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;

// rounded corner (weird but ok)
background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #c00 15px);
*/

.class-btn:hover {
	border: .1rem groove #048;
}

.class-btn:active {
	border: .1rem ridge gold;
}

#class-btn-0 {
	background-position: -3.6rem 0;
}

#class-btn-1 {
	background-position: -7rem 0;
}

#class-btn-2 {
	background-position: -10.4rem 0;
}

#class-btn-3 {
	background-position: -13.8rem 0;
}

#class-btn-4 {
	background-position: -17.2rem 0;
}

#class-btn-5 {
	background-position: -20.6rem 0;
}

#class-btn-6 {
	background-position: -24rem 0;
}

#class-btn-7 {
	background-position: -27.4rem 0;
}

#class-btn-8 {
	background-position: -30.8rem 0;
}

#class-btn-9 {
	background-position: -34.2rem 0;
}

/* battle */
#scene-battle { opacity: 0; }

/* flex styles */
.flex, .flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
.flex-75 { flex-basis: 75% }
.flex-50 { flex-basis: 50% }
.flex-33 { flex-basis: 33.33% }
.flex-25 { flex-basis: 25% }
.flex-16 { flex-basis: 16.666% }
.flex-8 { flex-basis: 8.333% }
.flex-max { flex: 1 }
.flex-min { flex: 0 }
/* utility classes */
.pad-4 {
	padding: .2rem;
}
.width-100 {
	width: 100%;
}
.height-100 {
	height: 100%;
}

#create-attr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1
}
#create-menu-wrap {
	padding: .2rem;
}
.cr-ch-row div {
	color: #8bf;
	margin: 0;
	padding: 0;
	text-align: center;
}
.cr-ch-btn-col {
	line-height: 1;
	color: #048;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000
}
.cc-plus-minus {
	padding-top: .2rem!important;
}

.create-attr-wrap {
	padding: 0 .1rem;
	flex: 0
}
.create-attr-col {
	text-align: center;
	align-items: flex-start
}
#create-attr-remaining {
	justify-content: space-evenly;
	padding: .25rem;
	line-height: 1
}
#create-points-label {
	font: 1.3rem/1 Georgia, Quatro, Roboto Slab, serif;
	font-weight: 700;
	text-align: center;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
.create-attr-type {
	font-family: Georgia, Quatro, Roboto Slab, serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	color: #8bf;
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 2px #048, -2px -2px #048, 2px -2px #048, -2px 2px #048
}
#create-points-value {
	align-self: center
}
.create-attr-square {
	position: relative;
	margin-right: .9rem;
	width: 3rem;
	height: 3rem;
	border: .2rem groove #579
}
.create-attr-value {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: .1rem outset #eed;
}
.create-attr-value.active {
	color: #0f0
}
.create-attr-dynamic {
	background: #048
}
#create-points-remaining {
	background: #bba
}
.title-ch-create-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #013;
	border: .1rem ridge #444;
	flex: 1;
}
#ch-cr-detail-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.title-ch-well {
	display: flex;
	padding: .2rem 0;
	justify-content: center;
	background: #025
}
#title-well-top {
	box-shadow: 0 .1rem #103860;
	border-bottom: 1px solid #05b;
	background:
		linear-gradient(135deg, transparent 10px, #025 0) top left,
		linear-gradient(225deg, transparent 10px, #025 0) top right,
		linear-gradient(315deg, transparent 0, #025 0) bottom right,
		linear-gradient(45deg,  transparent 0, #025 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
/* beveled corners

	background:
		linear-gradient(135deg, transparent .5rem, #025 0) top left,
		linear-gradient(225deg, transparent .5rem, #025 0) top right,
		linear-gradient(315deg, transparent .5rem, #025 0) bottom right,
		linear-gradient(45deg,  transparent .5rem, #025 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;

 */
/* rounded corners

	background:
		linear-gradient(135deg, transparent .5rem, #025 0) top left,
		linear-gradient(225deg, transparent .5rem, #025 0) top right,
		linear-gradient(315deg, transparent .5rem, #025 0) bottom right,
		linear-gradient(45deg,  transparent .5rem, #025 0) bottom left;
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #c00 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #c00 15px);
	background-size: 50% 50%;
	background-repeat: no-repeat;

 */
#title-well-bottom {
	box-shadow: 0 -.1rem #103860;
	border-top: 1px solid #05b;
}
.title-btn-margin {
	margin: .2rem
}
.avatar-title {
	width: 4.6rem;
	height: 4.6rem;
}
#ch-card-list {
	padding: 1rem 0;
	min-height: 12rem;
}
.ch-card {
	display: flex;
	justify-content: center;
	background: #27a;
	background: rgba(255, 255, 255, .3);
	border: .1rem ridge #013;
	outline: 1px solid #048;
	font: 1.25rem/1 Play, Quatro, Roboto Slab, serif;
	padding: 0;
	margin: 6px auto;
	width: 90%;
	border-radius: 0;
	text-shadow: 1px 1px #000;
	transform: scale(1);
	cursor: url('cursor/pointer.cur'), pointer;
	transition: text-shadow .2s ease-out, transform .2s ease-out;
}
.ch-card:active {
	background: #26a;
	outline: 1px solid #05b
}
.ch-card-active {
	transform: scale(1.02);
	background: #159;
	color: #ff2 !important;
	text-shadow: 1px 1px #000,
	-1px 0 #000,
	1px 0 #000,
	-1px 1px #000,
	1px -1px #000,
	-1px -1px #000,
	0 0 2px #000, 0 0 4px #000, 0 0 8px #000, 0 0 12px #000
}
.select-create-wrap {
	text-transform: uppercase;
	font-weight: bold;
	border: .2rem groove #579
}
.select-class,
.select-race {
	font-family: Play, Quatro, Roboto Slab, serif;
	background: #aa8;
	border: .1rem outset #eed;
	padding: .1rem;
	line-height: 1.5;
	text-align: center;
	cursor: url('cursor/pointer.cur'), pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.select-class.active,
.select-race.active {
	background: #553;
	border: .1rem inset #776;
	box-shadow: 0 0 5px #000 inset
}
.select-class.disabled {
	cursor: default;
	pointer-events: none;
	background: #567;
	border: .1rem inset #013;
	box-shadow: 0 0 4px #579 inset;
	color: #048
}
#gender-wrap {
	display: flex;
	flex-direction: column;
	flex: 1;
	font: 1.25rem Quatro, Roboto Slab;
	text-transform: uppercase;
}
.select-gender-col {
	display: flex;
	align-self: center
}
.select-gender {
	align-self: center;
}
.select-radial {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: #bba;
	box-shadow: 1px 1px #579 inset, -1px -1px #579 inset, 1px -1px 2px #000 inset, -3px 3px 6px 2px #fff8 inset;
	border: .1rem groove #579;
	cursor: url('cursor/pointer.cur'), pointer;
	transition: background .1s ease-out;
}
.attr-add-1:hover { background: #8f8; }
.attr-add-1:active { background: #1f1; }
.attr-minus-1:hover { background: #f88; }
.attr-minus-1:active { background: #f11; }


.select-radial.active {
	background: #776;
	box-shadow: 1px 1px #000 inset, -1px -1px #000 inset, 0 0 5px #000 inset
}
.character-info-header {
	font: 1rem Quatro, Roboto Slab, serif;
	text-align: center;
	border: 2px ridge #05b;
	background: #025;
	text-transform: uppercase
}
#create-info {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: .8rem;
}
#create-overview {
	display: flex;
	font-size: 1rem;
	background: radial-gradient(closest-corner at 50% 50%, rgba(0, 64, 128, 1), rgba(0, 64, 128, 0));
}
#create-portrait {
	width: 20rem;
	height: 20rem;
	pointer-events: none;
}
.portrait-arrow {
	position: absolute;
	font-size: 3rem;
	z-index: 1;
}
.portrait-arrow:active {
	color: #8bf;
	transform: translate(0px, 1px);
}
#create-details {
	padding: .2rem;
	border: .2rem inset #125;
	background: #147;
	flex: 1;
}
#create-character-name {
	font-size: 1.25rem;
	padding: .2rem .5rem;
	border: .1rem inset #025;
	text-transform: capitalize;
	margin: .2rem;
	border-radius: 0;
	background: #025;
	color: #fff;
	flex: 1;
}

#create-character-name:focus {
	background: #236;
	transition: background .2s ease;
}
.guild-leader {
	color: #ff8;
	vertical-align: middle;
}

/* toast */
#toast-window {
	position: fixed;
	top: 25%;
	width: 16rem;
	max-height: 30rem;
	overflow: hidden;
	z-index: 100;
	margin: 0 auto;
	left: 0;
	right: 0;
}
#toast-destroy-wrap,
#toast-wrap {
	border: .2rem groove #259;
	padding: .5rem 1rem;
	backdrop-filter: sepia(1) hue-rotate(150deg) saturate(2) brightness(2);
}
#toast-msg {
	text-align: center;
	margin-bottom: .5rem;
}
#toast-btn-row {
	display: flex;
	justify-content: center;
}
.toast-btn {
	width: 6rem;
	margin: 0 .5rem;
	padding: .1rem .5rem;
	text-align: center;
	color: #fff;
	outline: 1px solid #579;
	outline-offset: .1rem;
	font-weight: bold;
	border: 1px solid #048;
	letter-spacing: .1rem;
	font-size: 1rem;
	background: #08f;
	cursor: url('cursor/pointer.cur'), pointer;
	transition: background .2s ease;
}
.toast-btn:hover {
	background: #1af;
}
#character-windows {
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	bottom: 17.5rem;
	left: .5rem;
	min-width: 0;
	min-height: 0;
	z-index: 2;
}
.bar-window {
	position: relative;
	flex-direction: column;
	display: none;
	height: 28rem;
	width: 23rem;
	border: .1rem ridge #136;
	background: #013;
}
#root-various {
	margin-left: .5rem;
}
#inventory {
	display: none;
	justify-content: flex-start;
	background: #025;
	margin-left: .5rem;
	height: auto;
	width: auto;
}
#inventory-slot-wrap {
	border: 2px ridge #048;
	margin: 2px;
}
.inventory-slot-row {
	display: flex;
}
#tooltip-wrap {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	min-width: 16rem;
	max-width: 18rem;
	font: .9rem/1.5 Play;
	border: 2px ridge #136;
	line-height: 1.2;
	border-radius: 5px;
	backdrop-filter: brightness(.5) blur(5px);
	z-index: 2;
	pointer-events: none;
}
#bank-slot-wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: .3rem;
	border: .1rem ridge #048;
	height: 16rem;
	overflow: auto;
	align-content: flex-start;
	flex: 1;
}
#bank-slot-wrap .item-slot-wrap {
	margin: .1rem 0;
}
#bank-footer, #various-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: .1rem ridge #357;
	line-height: 1.3;
	z-index: 1;
}
/*#bank-footer-gold-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: .1rem groove #aa8;
	background: #0a0a0a;
	border-radius: 8px;
	margin: .1rem;
	padding: 0 .2rem 0 1rem;
}*/

#inv-tab-wrap {
	position: absolute;
	bottom: -.1rem;
	left: 0;
	display: flex;
	transform: translate(0%, 100%);
	font-size: 1rem;
	line-height: 1.5;
}
.inv-tabs {
	color: #ffd700;
	border: 1px solid #136;
	margin-left: .5rem;
	background: #001;
	padding: 0 .5rem;
	border-radius: 0 0 8px 8px;
	cursor: url('cursor/pointer.cur'), pointer;
	margin-top: -2px;
}
.inv-tabs.active {
	border-top: 1px solid transparent;
	color: #fff;
	background: #013;
	box-shadow: none;
}

#tooltip-item-img-bg {
	border: 1px solid #048;
	width: 3.2rem;
	height: 3.2rem;
	background: radial-gradient(closest-corner at 50% 50%, rgba(128, 160, 255, .3), rgba(0, 8, 24, 1));
}
#tooltip-name-bg {
	width: 100%;
	border: 1px solid #048;
	padding: .1rem .3rem;
	background-image: linear-gradient(to top,
		rgba(128, 192, 255, .1),
		rgba(0, 64, 128, 0),
		rgba(128, 192, 255, .1));
}
#tooltip-item-img { width: 3.2rem; height: 3.2rem; }
#tooltip-item-stat-wrap {
	background-image: linear-gradient(to right,
		rgba(0, 0, 0, .1),
		rgba(128, 192, 255, .1),
		rgba(0, 0, 0, .1));
}
#tooltip-name {
	font-size: 1rem;
	line-height: 1.25;
}
#tooltip-hr {
	width: 100%;
	border: 0;
	height: 2px;
	margin: .2rem 0;
	background-image: linear-gradient(to bottom,
		rgba(0, 64, 128, 1),
		rgba(128, 192, 255, 1)
	);
}
#root-options {
	display: none;
	position: fixed;
	flex-direction: column;
	align-items: center;
	top: 2rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30rem;
	height: 25rem;
	background: #000c;
	border: 4px ridge #888;
	backdrop-filter: sepia(100%) blur(5px);
	z-index: 100;
}
.option-category.active {
	background: #ff05;
	color: #ffd;
	backdrop-filter: saturate(250%);
}
#options-knob-sfx, #options-knob-music {
	position: relative;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 2px solid #159;
	box-shadow:
			0 0 0 .1rem #000 inset,
			0 0 0 .2rem #999,
			0 0 0 .25rem #666,
			0 0 0 .3rem #444,
			0 0 0 .35rem #222,
			0 0 0 .4rem #000;
	background: conic-gradient(
		#888 0turn,
		#fff .125turn,
		#888 .25turn,
		#fff .375turn,
		#888 .5turn,
		#fff .625turn,
		#888 .75turn,
		#fff .875turn,
		#888 1turn);
	cursor: url("cursor/pointer.cur"), pointer;
}
.options-volume {
	position: absolute;
	top: .15rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 1rem;
	width: .2rem;
	border: 1px solid #000;
	background: radial-gradient(farthest-corner at 50% 50%, #555, #000);
}
#options-content {
	font-size:.9rem;
	padding: .2rem .5rem;
}
.ng-boolean, .options-hotkey {
	display: flex;
	justify-content: center;
	align-items: center;
	border: .1rem ridge #555;
	padding: .2rem .5rem;
	border-radius: 3px;
	box-shadow: 0 0 2px #aefc inset;
	margin: .1rem;
	min-width: 2.5rem;
	text-transform: capitalize;
	transition: transform .1s ease-out;
	background: radial-gradient(farthest-corner at 50% 50%, #013, #025);
}
.ng-boolean:hover, .options-hotkey:hover {
	color: #ffd;
	background: radial-gradient(farthest-corner at 50% 50%, #013, #025);
	filter: saturate(200%);
	cursor: url('cursor/pointer.cur'), pointer;
}
.ng-boolean:active, .options-hotkey:active {
	filter: saturate(300%);
	transform: scale(.99);
}
.options-hotkey.active {
	color: #ffd;
	transform: scale(1.05);
	filter: brightness(150%) hue-rotate(120deg);
}
.option-button {
	display: flex;
	align-items: center;
	border-radius: 3px;
	color: gold;
	background: radial-gradient(farthest-corner at 50% 50%, #013, #025);
	margin: .2rem;
	border: .1rem ridge #555;
	cursor: url('cursor/pointer.cur'), pointer;
}
.option-button:hover {
	color: #ffd;
	background: radial-gradient(farthest-corner at 50% 50%, #013, #025);
	filter: saturate(200%);
}
.option-button:active {
	filter: saturate(300%);
}
.ng-drop-wrap {
	position: relative;
}
.ng-dropdown-btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex: 1;
	align-items: center;
	color: #fff;
	background: #025;
	border: .1rem ridge #048;
	border-radius: 5px;
	font-size: .9rem;
	cursor: url('cursor/pointer.cur'), pointer;
}
.ng-dropdown-btn:hover {
	filter: saturate(150%);
}
.ng-dropdown-value {
	padding-left: .6rem;
}
.ng-dropdown-caret {
	font-size: 1.5rem;
	color: #048;
	padding-right: .1rem;
	text-shadow: 0 0 1px #000, 0 0 2px #000;
}
.ng-dropdown {
	display: none;
	position: absolute;
	flex-direction: column;
	color: #fff;
	flex: 1;
	border: .1rem ridge #048;
	left: .1rem;
	width: calc(100% - .4rem);
	background: #000;
	z-index: 1;
}
.ng-dropdown-select {
	background: #025;
	text-indent: .5rem;
	cursor: url('cursor/pointer.cur'), pointer;
	line-height: 2;
	transition: background .2s ease-out, color .2s ease-out;
}
.ng-dropdown-select:hover {
	color: gold;
	background: #048;
}
.ng-dropdown-select:active {
	filter: saturate(250%);
}
#app-exit, #app-reset {
	padding: .2rem .8rem;
	transition: box-shadow .3s ease-out, color .3s ease-out;
}
#app-exit:hover, #app-reset:hover {
	color: #ffd;
	box-shadow: 0 0 0 1rem #ff08 inset;
	cursor: url('cursor/pointer.cur'), pointer;
}
#app-exit:active, #app-reset:active { box-shadow: 0 0 0 1rem #ff0c inset; }
.close-menu {
	position: absolute;
	top: 0;
	right: 0;
	background: #611;
	color: gold;
	padding: .1rem .2rem;
	border: .1rem ridge #777;
	outline: 1px solid #997;
	margin: 1px;
	font-size: 1.25rem;
	transition: color .12s ease-out, background .12s ease-out;
}
.close-menu:hover {
	cursor: url('cursor/pointer.cur'), pointer;
	background: #811;
	color: #ff0 !important;
}
.close-menu:active {
	background: #a11;
	transition: none;
}
.grad-blue-center {
	background-image: linear-gradient(to top,
		rgba(128, 192, 255, .3),
		rgba(0, 64, 128, 0),
		rgba(128, 192, 255, .3));
}

#inv-wrap {
	display: flex;
	flex-wrap: nowrap;
	flex: 1;
}
.inv-column-items {
	align-items: center;
}
.inv-column-items .item-slot-wrap ~ .item-slot-wrap {
	margin-top: .2rem;
}
.inv-row-items .item-slot-wrap ~ .item-slot-wrap {
	margin-left: .2rem;
}
.inventory-slot-row .item-slot-wrap {
	margin: 1px;
}
#inv-column-avatar {
	position: relative;
	border: .1rem ridge #136;
	border-radius: 4px;
	box-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
	padding: 0 .1rem;
	margin-bottom: 1.6rem;
}
/* outer */
.item-slot-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	border: .1rem ridge #1a1a1a;
	border-radius: 4px;
	background: #0a0a0a;
	background: repeating-linear-gradient(0deg, #111f 0px 1px, #000f 2px 3px);
}
.item-slot-wrap:hover { box-shadow: 0 0 .6rem #aef8 inset; }
.item-slot-wrap:active { box-shadow: 0 0 .6rem #aeff inset, 0 0 .6rem #aeff inset; }

.item-slot-type-none { border: .1rem ridge #1a1a1a; }
.item-slot-type-normal { border: .1rem ridge #777; }
.item-slot-type-magic { border: .1rem ridge #2a9aff; }
.item-slot-type-rare { border: .1rem ridge #ff0; box-shadow: 0 0 4px #ff0; }
.item-slot-type-set { border: .1rem ridge #00c400; box-shadow: 0 0 4px #00c400, 0 0 .3rem #908858 inset; }
.item-slot-type-unique { border: .1rem ridge #908858; box-shadow: 0 0 4px #908858, 0 0 .3rem #908858 inset; }
.item-slot-type-runic { border: .1rem ridge #ad68f8; box-shadow: 0 0 4px #ad68f8, 0 0 .3rem #ad68f8 inset; }
.item-slot-type-legendary { border: .1rem ridge #ffa500; box-shadow: 0 0 4px #ffa500, 0 0 .3rem #ffa500 inset; }
/* inner */
.item-slot {
	width: 3.2rem;
	height: 3.2rem;
	cursor: url('cursor/pointer.cur'), pointer;
	border-radius: 4px;
	border: 1px solid #777;
	flex-shrink: 0;
	transition: transform .1s ease-out;
}
.item-slot:active {
	transform: scale(.9);
}

.item-slot-type-none .item-slot { filter: brightness(60%) grayscale(1); }
.item-slot-type-normal .item-slot { border: 1px solid #777; }
.item-slot-type-magic .item-slot { border: 1px solid #2a9aff; }
.item-slot-type-rare .item-slot { border: 1px solid #ff0; }
.item-slot-type-set .item-slot { border: 1px solid #00c400; }
.item-slot-type-unique .item-slot { border: 1px solid #908858; }
.item-slot-type-runic .item-slot { border: 1px solid #ad68f8; }
.item-slot-type-legendary .item-slot { border: 1px solid #ffa500; }

#inv-avatar-wrap {
	position: relative;
	display: flex;
	justify-content: center;
}
#inv-avatar-img {
	width: 15rem;
	border-radius: 4px;
	z-index: 1;
}
#inv-resist-wrap {
	position: absolute;
	top: 0;
	right: .1rem;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	z-index: 1;
}
.inv-resist-icon {
	display: flex;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
	border: .1rem ridge #136;
	box-shadow: 0 1px #048 inset, -1px 0 #048 inset, 1px 0 #048 inset, 0 -1px #048 inset;
	border-radius: 4px;
}
#inv-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: .1rem ridge #357;
	line-height: 1.3;
}

#inv-skills-wrap {
	display: flex;
	flex-direction: column;
	border: .1rem ridge #136;
	flex: 1;
	overflow-y: auto;
	font-size: .9rem;
	line-height: 1.5;
}
.inv-skill-row {
	position: relative;
	display: flex;
	margin: .2rem 1rem;
	border: .1rem ridge #333;
	background: #001;
	border-radius: 5px;
	cursor: url('cursor/pointer.cur'), pointer;
}
.inv-skill-row:hover { border: .1rem ridge #048 }
.inv-skill-row:active { border: .1rem ridge #05b; transform: scale(.99); }
.inv-skill-label-wrap {
	position: relative;
	display: flex;
	z-index: 1;
}
.inv-skill-label {
	color: #ffd700;
	margin: 0 1.2rem 0 .6rem;
}
.inv-skill-bar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	background: #03a;
	box-shadow: 0 5px 5px #fff2 inset, 0 -5px 5px #000a inset;
}
#inv-skill-description-wrap {
	display: flex;
	flex-direction: column;
	height: 9rem;
}
#inv-skill-description-head {
	text-align: center;
	line-height: 1.5;
}
#inv-skill-description, #various-description {
	padding: .2rem .4rem;
	font-size: .8rem;
	border: .1rem ridge #136;
	margin: .2rem;
	align-self: normal;
	line-height: 1.125;
}
#item-tooltip-cursor-img {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 2.5rem;
	z-index: 2;
	background: radial-gradient(farthest-corner at 50% 50%, #048, #0000);
	background: #0a0a0a;
	box-shadow: 0 0 .6rem #aeff inset, 0 0 .6rem #aeff inset;
}
#various-body {
	display: flex;
	position: relative;
	overflow: hidden;
	background:
			radial-gradient(farthest-side at 0% 0%, #159f 0%, #0000, #0000 100%),
			radial-gradient(farthest-side at 100% 0%, #159f 0%, #0000, #0000 100%),
			radial-gradient(farthest-side at 0% 100%, #159f 0%, #0000, #0000 100%),
			radial-gradient(farthest-side at 100% 100%, #159f 0%, #0000, #0000 100%);

}
#various-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: .9rem;
	z-index: 1;
}
.town-avatar-wrap {
	border: .1rem ridge #136;
	margin: .2rem;
	height: 5rem;
	background: repeating-linear-gradient(45deg, #1258 0 3%, #1368 3% 6%);
}
.town-avatars {
	width: 5rem;
	height: 5rem;
}
#guild-input {
	background: rgba(0, 64, 128, .5);
	color: #fff;
	font-size: 1.25rem;
	padding: .2rem .5rem;
	border: .1rem inset #025;
	outline: 1px solid #579;
	text-transform: capitalize;
	cursor: url('cursor/pointer.cur'), pointer;
	margin: 1rem 0;
	transition: border .2s ease-out;
}
.aside-frame {
	background: rgba(0, 0, 0, .5);
	border: .1rem ridge #025;
	padding: .2rem .4rem;
	margin: .1rem;
}
#aside-guild-members {
	display: table;
	flex: 1;
}
#various-item-wrap,
#bank-slot-wrap {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
	padding: .2rem;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	background: conic-gradient(
			#0016 .25turn,
			#025a .25turn .5turn,
			#0016 0.5turn .75turn,
			#025a .75turn
	) top left / 5px 5px repeat;
	margin: .5rem .2rem;
	border: .1rem ridge #000;
	z-index: 1;
}
#various-item-wrap {
	align-content: space-around;
}
#various-item-wrap .item-slot-wrap { margin-top: .2rem; }


/*.test-opacity-dom { animation: town-opacity-dom 1s linear infinite; }
.test-opacity-filter { animation: town-opacity-filter 1s linear infinite; }
@keyframes town-opacity-dom {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes town-opacity-filter {
	from { opacity: 0; }
	to { opacity: 1; }
}*/

#buy-sell-row {
	justify-content: space-between;
	font-size: 2rem;
	background: #0008;
	padding: .3rem;
	margin: 0 .2rem .5rem;
	border: 1px solid #789;
	z-index: 1;
}
.merchant-btn {
	margin: 0 .2rem;
	padding: .5rem 1.5rem;
	border: .1rem ridge gold;
	filter: hue-rotate(349deg) saturate(3);
}
#town-value-wrap {
	justify-content: space-between;
	margin-left: .15rem;
	padding: 0 .3rem;
	font-size: 2rem;
	color: gold;
	margin-right: .15rem;
	background: #0008;
	border: .1rem ridge gold;
	flex: 1;
	/*background: conic-gradient(
			#000f .25turn,
			#090909 .25turn .5turn,
			#000f 0.5turn .75turn,
			#090909 .75turn
	) top left / 5px 5px repeat;*/
	background: repeating-linear-gradient(0deg, #111f 0px 1px, #000f 2px 3px);
}